.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5em;
  align-items: center;
  background-color: cornflowerblue;
}

.app-header {
  padding: 10px;
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
}
.search-container {
  display: flex;
  flex-direction: row;
}

.logo-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;

  img {
    width: 5em;
    height: 5em;
  }
}
