.home-wrapper {
  display: flex;
  justify-content: center;
  .search-wrapper {
    margin-top: 150px;
  }

  .search-wrapper {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    width: 100%;
  }
}
